@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

*{
    font-family: "Huninn";
    font-weight: bold;
    background-color: #C4A484;
}

.header{
    display: flex;
    align-content: center;
    justify-content: center;
}

.quote{
    font-size: xx-large;
    text-align: center;
}

#abc{
    font-size: x-large;
}

#title{
    align-items: center;
}

#society_photo{
    height: 5cm;
    float: left;
}

#logo{
    align-content: center;
    height: 2cm;
}

p{
    margin-left: 2%;
    align-content: center;
    justify-content: center;
}

.footer {
    margin-left: -1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #964B00
; /* Optional background color */
    padding: 10px; /* Optional padding */
    animation: slideIn 2s;
}
